/**********************************/
/*** M e d i a    q u e r i e s ***/
/**********************************/

/*    S M A R T P H O N E    */

@media only screen and (max-width: 599px) {
	/***** M A I N *****/

	.blog-content {
		display: flex;
		flex-direction: column;
	}

	.card {
		grid-template-areas:
		"cardimg cardimg cardtitle cardtitle"
		"cardimg cardimg cardtext cardtext"
		"cardimg cardimg cardtext cardtext"
		"cardimg cardimg . cardbutton";
	}

	/***** P O S T [on Post Page]  *****/

	.related-posts {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.social {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

}