/* Stylesheet for P1 Blog Website   */

/***** G L O B A L   S E T T I N G S *****/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}

/***** P A G E   S E T T I N G S *****/

.blog-container,
.post-container {
	display: grid;
  	grid-template-columns: 1fr;
 	grid-template-rows: 50px auto 40px;
  	grid-template-areas: 
    "header"
    "main"
    "footer"
}

/***** H E A D E R *****/

.blog-header, 
.post-header {
	grid-area: header;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-image: linear-gradient(to right, #4d94ff , #00b386); 
}

input#action-button {
	display: none;
}

.menu {
	position: fixed;
	margin: 20px 10px;
	z-index: 1;
}

.btn {
	background: black;
	border: 2px solid;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
	color: white;
	z-index: 1;
	font-size: 20px;
}

.btn-large {
	width: 60px;
	height: 60px;
	border-color: black;
}

.btn-menu:after,.btn-menu:before {
	content: "";
	display: block;
	width: 25px;
	height: 3px;
	background: #fff;
	position: absolute;
	top: 26px;
	left: 16px;
	transition: transform 100ms;
}

.btn-menu:after {
	transform: translateY(-5px);
}

.btn-menu:before {
	transform: translateY(5px);
}

.btn-html {
	background: #4d94ff;
}

.btn-css {
	background: #2ecc71;
}

.btn-js {
	background: #16a085;
}

.btn-home {
	background: white;
	color: black;
}

.svg-icon-home {
	margin: 8px;
}

.actions-menu {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
}

.actions-menu .btn {
	position: absolute;
	top: 8px;
	opacity: 0;
	transition: top 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
	          left 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
	          opacity 200ms;
}

.actions-menu .btn-menu {
	position: absolute;
	opacity: 1;
	top: 0;
	left: 0;
	z-index: 1;
}

.btn-menu, #action-button:checked + .actions-menu > .btn {
	opacity: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

#action-button:checked + .actions-menu > .btn-menu:after {
	transform: rotate(45deg);
}

#action-button:checked + .actions-menu > .btn-menu:before {
	transform: rotate(-45deg);
}

#action-button:checked + .actions-menu > .btn-html {
	top: 80px;
}

#action-button:checked + .actions-menu > .btn-css {
	top: 163px;
}

#action-button:checked + .actions-menu > .btn-js {
	top: 246px;
}

#action-button:checked + .actions-menu > .btn-home {
	top: 329px;
}

.blog-title {
	font-size: 25px;
	margin: 10px 0 0 80px;
}

/***** M A I N *****/

.blog-content,
.post-content {
	grid-area: main;
	display: flex;
	flex-direction: column;
	background: #e2e1e0;
}

.card {
	margin: 10px;
	padding: 5px;
	background: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	grid-template-areas:
	"cardimg cardimg cardtitle cardtitle"
	"cardimg cardimg cardtext cardtext"
	"cardimg cardimg cardtext cardtext"
	"cardimg cardimg . cardbutton";
}

.card-img {
	grid-area: cardimg;
	background: url(https://cdn.pixabay.com/photo/2013/07/12/19/16/html-154434_960_720.png) no-repeat center;
	background-size: contain;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%)
}

.card-title {
	grid-area: cardtitle;
}

.card-text {
	grid-area: cardtext;
}

.card-button {
	grid-area: cardbutton;
	padding: 15px;
	border: 3px solid yellow;
	text-transform: uppercase;
}

/***** F O O T E R *****/

.blog-footer,
.post-footer {
	grid-area: footer;
	padding: 10px;
	background-image: linear-gradient(to right, #4d94ff , #00b386); 
	text-align: center;
	font-size: 15px;
}

a:link.contact-footer {
	text-decoration: none;
}

/***** P O S T [on Post Page]  *****/

.post-content {
	padding: 50px 20px 20px 20px;
}

.post-img {
	float: left;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%)
  	width: 50px;
  	height: 150px;
}

.bio {
	border: 5px solid #3380dc;
	padding: 5px;
	margin: 10px 0;
	background: #a4a3a1;
	text-align: center;
}

.author-title {
	font-style: italic;
}

.avatar {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background: #3380dc;
	position: relative;
	left: 50%;
	transform: translateX(-40px);
}

.svg-avatar {
	margin: 15px;
	fill: white;
}

.company {
	font-weight: 700;
}

.bio-text {
	margin-top: 10px;
}

.related-posts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.related {
	width: 90px;
	height: 90px;
	border: 3px solid grey;
	padding: 5px;
}

.social {
	margin-top: 15px;
	padding-top: 20px;
	border-top: 5px solid #3380dc;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.twitter,
.facebook,
.youtube {
	width: 40px;
	margin: 5px;
}

/* M e d i a    q u e r i e s */

@import "css/tabletstyle.css" screen and (min-width: 901px);


